{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section class="avatar" style="background: url('{{ student.avatar_url }}') no-repeat center center / cover"></section>
        <section class="info">
            <h3>ESTUDANTE</h3>
            <div class="item">
                <div>Nome</div>
                <div>{{ student.name }}</div>
            </div>
            <div class="item">
                <div>Idade</div>
                <div>{{ student.age }}</div>
            </div>
            <div class="item">
                <div>E-mail</div>
                <div>{{ student.email }}</div>
            </div>
            <div class="item">
                <div>Ano Escolar</div>
                <div>
                {% if student.level == '5f' %}5º ano do Ensino Fundamental{% endif %}
                {% if student.level == '6f' %}6º ano do Ensino Fundamental{% endif %}
                {% if student.level == '7f' %}7º ano do Ensino Fundamental{% endif %}
                {% if student.level == '8f' %}8º ano do Ensino Fundamental{% endif %}
                {% if student.level == '9f' %}9º ano do Ensino Fundamental{% endif %}
                {% if student.level == '1a' %}1º ano do Ensino Médio{% endif %}
                {% if student.level == '2a' %}2º ano do Ensino Médio{% endif %}
                {% if student.level == '3a' %}3º ano do Ensino Médio{% endif %}
                </div>
            </div>
            <div class="item">
                <div>Carga horária</div>
                <div>{{ student.charge }}</div>
            </div>
            <div class="item">
                <div>Professor responsável</div>
                <div>{{student.teacher_name}}</div>
            </div>

            

            <a href='/students/{{ student.id }}/edit'>Editar</a>
        
        </section>

    </div>

{% endblock content %}