
            <div class="item">
                <div>URL do Avatar</div>
                <input type="url" name="avatar_url" placeholder="https://" value="{{teacher.avatar_url}}">
            </div>
            <div class="item">
                <div>Nome</div>
                <input type="text" name="name" placeholder="Digite o seu nome completo" value="{{teacher.name}}">
            </div>
            <div class="item">
                <div>Data de Nascimento</div>
                <input type="date" name="birth" value="{{teacher.date}}">
            </div>
            <div class="item">
                <div>Grau de Escolaridade</div>
                <select name="level">
                    <option value="" selected disabled>Selecione o seu grau de escolaridade</option>
                    <option value="medio" {% if teacher.level == 'medio' %} selected {% endif %}>Ensino Médio Completo</option>
                    <option value="superior" {% if teacher.level == 'superior' %} selected {% endif %}>Ensino Superior Completo</option>
                    <option value="mestrado" {% if teacher.level == 'mestrado' %} selected {% endif %}>Mestrado</option>
                    <option value="doutorado" {% if teacher.level == 'doutorado' %} selected {% endif %}>Doutorado</option>
                </select>
            </div>
            <div class="item">
                <div>Tipo de Aula</div>
                <span><input type="radio" name="type" value="Presencial" {% if teacher.type == 'Presencial' %} checked {% endif %}>Presencial</span>
                <span><input type="radio" name="type" value="À distância" {% if teacher.type == 'À distância' %} checked {% endif %}>À distância</span>
            </div>
            <div class="item">
                <div>Área de Atuação</div>
                <input type="text" name="disciplines" placeholder="Quais matérias você leciona? Separe por vírgulas" value='{{ teacher.disciplines }}'>
            </div>

            <button type="submit">Enviar</button>